<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta_tags/base.html %}

        {% include externals/styling.html %}
    </head>

    <body class="text-center">
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Intentional Infusions</h3>
          </div>
        </header>

        <main role="main" class="inner cover">
          <h1 class="cover-heading" id="grad1">A Root. A Leaf. A Flower.</h1>
          <!-- <p class="lead">A Root. A Leaf. A Flower.</p> -->
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
          </p>
        </main>

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="/">Home</a>
              <a class="nav-link" href="{{ '/menu' | prepend: site.baseurl }}">Menu</a>
              <a class="nav-link" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
            </nav>
          </div>
        </footer>
      </div>
      {% include externals/scripting.html %}
    </body>
</html>
